*{
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-size: 15px;
}

form{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 500px;
    margin-left: 30%;
    margin-top: 10px;
    padding: 10px;
    align-content: center;
}

form div{
    height: 80px;
    flex: 1;
    align-content: center;
    align-self: center;
}

form div input{
    width: 250px;
    height: 30px;
    border-radius: 7px;
}

form div label{
    text-align: center;
    display: block;
    width: 100%;
    height: 30px;
}
form div p{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 10px;
}
a{
    color: rgb(0, 119, 255);
}
a:hover{
    cursor: pointer;
    color: red;
}

form div button{
    width: 100%;
    height: 36px;
    border-radius: 5px;
    border: none;
    background-color: lightblue;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

.review{
    margin-top: 15px
}
.review pre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.item{
    width: 200px;
    height: 150px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.item p {
    height: 30px;
    font-size: 18px;
}

.item div button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin: 0 1px;
    border: none;
}